<hr>
<footer>
  <p>
    <em>Copywrong IMDB 2023</em>
  </p>
  <ul class="mt-5">
    <li><%=link_to 'Home', root_path%></li>
    <li><%=link_to 'Top 100 movies', movies_path%></li>
    <li><%=link_to 'Top Production Companies', production_companies_path%></li>
    <li><%= link_to 'About the Data', permalink_path('about_the_data') %></li>
    <li><%= link_to 'Contact us', permalink_path('Contact us') %></li>
  </ul>
  <% cms_pages.each do |page| %>
    <li><%= link_to page.title, permalink_path(page.permalink) %></li>
  <% end %>
</footer>>